# Razorpay hosted payment page link (Payment Pages / rzp.io short link)
# Get this from Razorpay Dashboard > Payment Pages
NEXT_PUBLIC_RAZORPAY_PAY_URL=https://rzp.io/rzp/8A6T0cz

# Google Form shown after the visitor confirms they've paid
NEXT_PUBLIC_GOOGLE_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLScOt9_M6dXtizMxsHsP9tyQ3hLUUXx2J9NrV_Naq7KyloKjAA/viewform
